@import './variables.scss';
@import './sidebar.scss';
#app {
    height: 100%;
}

a,
a:focus,
a:hover {
    cursor: pointer;
    color: inherit;
    outline: none;
    text-decoration: none;
}

div:focus {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

//全局样式
.app-main {
    min-height: 100%;
}