#app {
    //右侧区域
    .main-container {
        min-height: 100%;
        margin-left: $sideBarWidth;
        transition: margin-left .28s;
        position: relative;
    }
    //侧边栏
    .sidebar-container {
        width: $sideBarWidth !important;
        transition: width 0.28s;
        height: 100%;
        position: fixed;
        font-size: 0px;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1001;
        overflow: hidden;
        //重置element-ui样式
        .scrollbar-wrapper {
            overflow-x: hidden !important;
            .el-scrollbar__view {
                height: 100%;
            }
        }
        .nest-menu .el-submenu>.el-submenu__title,
        .el-submenu .el-menu-item {
            min-width: $sideBarWidth !important;
            background-color: $subMenuBg !important;
            &:hover {
                background-color: $subMenuHover !important;
            }
        }
        .el-menu {
            border: none;
            height: 100%;
            width: 100% !important;
        }
        .svg-icon {
            margin-right: 16px;
        }
    }
    .hideSidebar {
        .sidebar-container {
            width: 36px !important;
        }
        .main-container {
            margin-left: 36px;
        }
        .el-submenu {
            overflow: hidden;
            //">"子选择器
            &>.el-submenu__title {
                padding-left: 10px !important;
                .el-submenu__icon-arrow {
                    display: none;
                }
            }
        }
    }
    //适配移动端
    .mobile {
        .main-container {
            margin-left: 0px;
        }
        .sidebar-container {
            transition: transform .28s;
            width: $sideBarWidth !important;
        }
        &.hideSidebar {
            .sidebar-container {
                // 让元素实体 “虚化”
                // 例如一个应用 pointer-events: none 的div元素，
                // 则我们在页面上看到的这个按钮，只是一个虚幻的影子而已，您可以理解为海市蜃楼，幽灵的躯体。当我们用手触碰它的时候可以轻易地没有任何感觉地从中穿过去。
                pointer-events: none;
                // 规定完成过渡效果需要花费的时间（以秒或毫秒计）
                transition-duration: 0.3s;
                // transform: translate3d(x, y, z);
                //transform属性向元素应用2D或者3D转换。该属性允许我们对元素进行旋转、缩放、移动或者倾斜
                transform: translate3d(-$sideBarWidth, 0, 0);
            }
        }
    }
    .withoutAnimation {
        .main-container,
        .sidebar-container {
            transition: none;
        }
    }
}