//sidebar
$menuBg:#304156;
$menuText:#bfcbd9;
$menuActiveText:#409EFF;

$subMenuBg:#1f2d3d;
$subMenuHover:#001528;

$sideBarWidth: 180px;
:export {
    menuBg: $menuBg;
    menuText: $menuText;
    menuActiveText: $menuActiveText
}